:root {
    --cor-button: hsl(158, 36%, 37%);
    --cor-main-background: hsl(30, 38%, 92%);
    --cor-titulo-produto: hsl(212, 21%, 14%);
    --cor-descricao: hsl(228, 12%, 48%);
    --cor-container-background: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-produto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px; 
    padding: 16px;
    border-radius: 30px;
    background-color: rgb(229, 229, 229);
    width: 100%;
    max-width: 1200px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.produto-item {
    border-radius: 20px;
    background-color: var(--cor-container-background);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-produto img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
}

.container-descricao-produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

.id-produto {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--cor-descricao);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.nome-produto {
    color: var(--cor-titulo-produto);
    font-size: 24px;
    font-family: "Fraunces", serif;
}

.descricao-produto {
    color: var(--cor-descricao);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.preco-produto {
    display: flex;
    gap: 16px;
    margin-top: 8px;
}

.preco-descontado {
    color: var(--cor-button);
    font-family: "Fraunces", serif;
    font-size: 24px;
}

.preco-antes {
    color: var(--cor-descricao);
    text-decoration: line-through;
}

.btn-cart {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--cor-button);
    color: var(--cor-container-background);
    font-weight: 700;
    font-size: 18px;
    transition: background-color 0.5s ease;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.btn-cart img {
    margin-right: 8px;
}

.btn-cart:hover {
    background-color: #46ba7a;
}